
    <div class="form-group">
        <label class="col-sm-3 control-label">{{"label.userName" | translate}}:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="username" ng-model="user.name" ng-class="addUserForm.username.$dirty && addUserForm.username.$invalid ? 'ng-invalid':''"  required/>
            <div class="valid_error" ng-show="addUserForm.username.$dirty && addUserForm.username.$invalid">
                <span ng-show="addUserForm.username.$error">{{"用户名是必须的。" | translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="addFlag">
        <label class="col-sm-3 control-label">{{"label.password" | translate}}:</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="password" ng-model="user.password" ng-class="addUserForm.password.$dirty && addUserForm.password.$invalid ? 'ng-invalid':''"  required/>
            <div class="valid_error" ng-show="addUserForm.password.$dirty && addUserForm.password.$invalid">
                <span ng-show="addUserForm.password.$error">{{"密码是必须的。" | translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-if="addFlag">
        <label class="col-sm-3 control-label">{{"label.confirmPassword" | translate}}:</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" name="confirmPassword" ng-model="confirmPassword" ng-class="addUserForm.confirmPassword.$dirty && addUserForm.confirmPassword.$invalid ? 'ng-invalid':''"  required/>
            <div class="valid_error" ng-show="user.password != confirmPassword && addUserForm.confirmPassword.$dirty">
                <span>{{"两次输入密码不一致。" | translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{"label.useralias" | translate}}:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="useralias" ng-model="user.alias" ng-class="addUserForm.useralias.$dirty && addUserForm.useralias.$invalid ? 'ng-invalid':''"  required/>
            <div class="valid_error" ng-show="addUserForm.useralias.$dirty && addUserForm.useralias.$invalid">
                <span ng-show="addUserForm.useralias.$error">{{"昵称是必须的。" | translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{"label.gender" | translate}}:</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="user.gender">
                <option ng-repeat="gender in genderList" ng-selected="gender.value == user.gender" value="{{gender.value}}">{{gender.name | translate}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{"label.userRole" | translate}}:</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="user.role">
                <option ng-repeat="role in roleList" ng-selected="role.value == user.role" value="{{role.value}}">{{role.name | translate}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{"label.phoneNumber" | translate}}:</label>
        <div class="col-sm-4">
            <input type="tel" class="form-control" name="phoneNumber" ng-model="user.phoneNumber" ng-class="addUserForm.phoneNumber.$dirty && addUserForm.phoneNumber.$invalid ? 'ng-invalid':''"  required/>
            <div class="valid_error" ng-show="addUserForm.phoneNumber.$dirty && addUserForm.phoneNumber.$invalid">
                <span ng-show="addUserForm.phoneNumber.$error">{{"手机号码是必须的。" | translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{"label.email" | translate}}:</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" name="email" ng-model="user.email" ng-class="addUserForm.email.$dirty && addUserForm.email.$invalid ? 'ng-invalid':''"  required/>
            <div class="valid_error" ng-show="addUserForm.email.$dirty && addUserForm.email.$invalid">
                <span ng-show="addUserForm.email.$error">{{"非法的邮箱。" | translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{"label.idCard" | translate}}:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="idCard" ng-model="user.idCard" ng-class="addUserForm.idCard.$dirty && addUserForm.idCard.$invalid ? 'ng-invalid':''"  required/>
            <div class="valid_error" ng-show="addUserForm.idCard.$dirty && addUserForm.idCard.$invalid">
                <span ng-show="addUserForm.idCard.$error">{{"身份证号码是必须的。" | translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{"label.organCode" | translate}}:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="organCode" ng-model="user.organCode" ng-class="addUserForm.organCode.$dirty && addUserForm.organCode.$invalid ? 'ng-invalid':''"  required/>
            <div class="valid_error" ng-show="addUserForm.organCode.$dirty && addUserForm.organCode.$invalid">
                <span ng-show="addUserForm.organCode.$error">{{"组织结构代码是必须的。" | translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{"label.trade" | translate}}:</label>
        <div class="col-sm-4">
            <select class="form-control" ng-model="user.trade">
                <option ng-repeat="trade in tradeList" ng-selected="trade.value == user.trade" value="{{trade.value}}">{{trade.name | translate}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{"label.addressName" | translate}}:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="addressName" ng-model="user.addressName" ng-class="addUserForm.addressName.$dirty && addUserForm.addressName.$invalid ? 'ng-invalid':''"  required disabled/>
            <!--<div class="valid_error" ng-show="addUserForm.addressName.$dirty && addUserForm.addressName.$invalid">-->
                <!--<span ng-show="addUserForm.addressName.$error">{{"地址是必须的。" | translate}}</span>-->
            <!--</div>-->
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="customAddressName" ng-model="user.customAddressName" ng-class="addUserForm.customAddressName.$dirty && addUserForm.customAddressName.$invalid ? 'ng-invalid':''"  required disabled/>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-sm btn-info" ng-click="showMap()">
                {{"btn.selectAddress" | translate}}
            </button>
        </div>
    </div>
