body {
    /*background: url(../../img/yl.jpg) center top;*/
    /*background: url(../../img/yltwo.jpg) center top;*/
    /*background: url(../../img/ylthree.jpg) center top;*/
    /*background: url(../../img/sun.jpg) center top;*/
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
}
.mycenter{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width:500px;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.mycenter mysign{
    width: 440px;
}
.mycenter checkbox{
    margin-top:2%;
    margin-left: 10%;
    margin-right: 10%;
}

.mycenter input, button, select{
    margin-top:11%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
}

.mycenter input{
    margin-top:11%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
    /*border:none #FFFFFF;*/
    /*border-bottom:#777777 solid 1px;*/
    /*background:transparent;*/
}

.mycenter label{
    margin-top:2%;
    margin-left: 10%;
    margin-right: 10%;
}

.mycheckbox{
    margin-top:10px;
    margin-left: 40px;
    margin-bottom: 10px;
    height: 10px;
}