<div class="container-fluid">
    <div ng-include="'/portal/html/partials/header.html'"/>
    <div class="row" style="margin-top: 10px">
        <div class="col-lg-2">
            <div ng-include="'/portal/html/partials/leftbars.html'"/>
        </div>
        <div class="col-lg-10">
            <div ng-include="'/portal/html/partials/rightContent.html'"/>
        </div>
    </div>

    <div class="loading_icon_div">
        <table height="100%" width="100%">
            <tr height="100%" valign="middle">
                <td height="100%" valign="middle" align="center">
                    <img src="/portal/html/img/loading.gif" />
                </td>
            </tr>
        </table>
    </div>
</div>

